<form #f (ngSubmit)="onSubmitProject(f)" class="form-container" enctype="multipart/form-data">
  <!--Categories-->
  <div>
    <mat-form-field class="form-field-topic">
      <input matInput name="topic" placeholder="Topic" type="text" [(ngModel)]="project.topic" required>
    </mat-form-field>
  </div>
  <!--Title-->
  <div>
    <mat-form-field class="form-field-title">
      <input matInput name="title" placeholder="Title" type="text" [(ngModel)]="project.title" required>
    </mat-form-field>
  </div>
  <!--Tags-->
  <div>
    <mat-form-field class="form-field-chips">
      <mat-chip-list #chipList>
        <mat-chip *ngFor='let tag of project.tags' [removable]="true" (remove)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <input
        placeholder="Enter Tags..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
        ariaOrientation="horizontal"
      />
    </mat-form-field>
  </div>
  <!--preview-->
  <div>
    <mat-form-field class="form-field-textarea">
      <textarea matInput mat-autosize matAutosizeMinRows="5" matAutosizeMaxRows="5" placeholder="Preview text..." name="preview"
                type="text" [(ngModel)]="project.preview" required></textarea>
    </mat-form-field>
  </div>

  <!--files-->

  <input #fileInput multiple type='file' (change)="filesSelected(fileInput)" placeholder="Upload file..."/>

  <div #fileListDisplay></div>

  <button type='submit'>
    Submit
  </button>

  <h3>Project Links</h3>
  <p *ngFor="let link of links">
    <a href="https://s3.amazonaws.com/hectorgarcia-projects/{{link}}">{{link}}</a><br/>
  </p>



  <!--<div>-->
      <!--<div ng2FileDrop-->
           <!--[ngClass]="{'nv-file-over': hasBaseDropZoneOver}"-->
           <!--(fileOver)="fileOverBase($event)"-->
           <!--[uploader]="uploader"-->
           <!--class="well my-drop-zone">-->
        <!--File Drop-->
      <!--</div>-->
  <!--</div>-->
  <!--<h3>Upload queue</h3>-->
  <!--<p>Queue length: {{ uploader?.queue?.length }}</p>-->

  <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th width="50%">Name</th>-->
      <!--<th>Size</th>-->
      <!--<th>Progress</th>-->
      <!--<th>Status</th>-->
      <!--<th>Actions</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let item of uploader.queue">-->
      <!--<td><strong>{{ item?.file?.name }}</strong></td>-->
      <!--<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>-->
      <!--<td *ngIf="uploader.isHTML5">-->
        <!--<div class="progress" style="margin-bottom: 0;">-->
          <!--<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td class="text-center">-->
        <!--<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->
        <!--<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>-->
        <!--<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>-->
      <!--</td>-->
      <!--<td nowrap>-->
        <!--<button type="button" class="btn btn-success btn-xs"-->
                <!--(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
          <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-warning btn-xs"-->
                <!--(click)="item.cancel()" [disabled]="!item.isUploading">-->
          <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-danger btn-xs"-->
                <!--(click)="item.remove()">-->
          <!--<span class="glyphicon glyphicon-trash"></span> Remove-->
        <!--</button>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<div>-->
    <!--<div>-->
      <!--Queue progress:-->
      <!--<div class="progress" style="">-->
        <!--<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-success btn-s btn-space" [disabled]="!uploader.getNotUploadedItems().length">-->
      <!--<span class="glyphicon glyphicon-upload"></span> Upload all-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-s btn-space"-->
            <!--(click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">-->
      <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel all-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-danger btn-s btn-space"-->
            <!--(click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">-->
      <!--<span class="glyphicon glyphicon-trash"></span> Remove all-->
    <!--</button>-->
  <!--</div>-->

  <!--<button type=submit style="width: 20%; margin: 10px 40%;" [disabled]="">{{ mode | titlecase}}</button>-->
</form>

<ng-template #modal>
  <p>{{errorMessage}}</p>
</ng-template>
