<div>
  <div class="about-text-container">
    <h3 class="title-page">What I Use?</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">
        Programming Languages:<br/>
        Python, R, JavaScript, TypeScript, C, Java, SQL, Objective-C<br/><br/>
        My Tech Stack includes:<br/>
        MySql, Pandas, Numpy, Pandas, Flask, Django, SciKit-Learn, TensorFlow, Matplotlib, Seaborn, Angular 2 - 7, Ionic, RxJs, Node.js, Express, Socket.io, MongoDB and more.<br/>
      </p>
    </div>
  </div>
  <div class="about-img-container">
    <img src="https://image.ibb.co/eFh40G/icons.png" class="about-img">
  </div>
</div>
