<div>
  <div class="about-text-container">
    <h3 class="title-page">What I use?</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">My tech stack includes: Angular 4, Ionic, TypeScript ES6, JavaScript ES6, RxJs, Node.js, Express, MongoDB, Socket.io, Python, Objective-C, C, Java SE, R and more.</p>
    </div>
  </div>
  <div class="about-img-container">
    <!--<div class="icon">-->
      <!--<svg-icon *ngFor="let logoPath of logoPaths" [src]=logoPath id="icons"></svg-icon>-->
    <!--</div>-->
    <img src="../../assets/svg/logos/icons.png" class="about-img">
  </div>
</div>
