<div>
  <div class="about-img-container">
    <img src="../../../assets/uml.png" class="about-img">
  </div>
  <div class="about-text-container">
    <h3 class="title-page">Why me?</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">I'm committed to clean, precise and modular code.  I develop with scalability and maintainability always in mind.  My commitment to perfecting the craft of software development is demonstrated through the on-going courses I take, the articles I write on coding and embracing one of the core tenets of Clean Code: always strive to leave code better than you found it.
      </p>
    </div>
  </div>
</div>
