<div>
  <div class="about-text-container">
    <h3 class="title-page">Why Choose me?</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">
        I offer a special combination of data analysis, a doctoral-level expertise in international studies and supply chain operations experience. <br/><br>
        I completed an undergraduate degree in Economics and Political Science, a Masters Degree in Political Science and all but my dissertation in my PhD studies in International Relations.<br/><br>
        I have written reports and presented my findings on canadian public policy and global issues with a particular focus on illicit economies using qualitative and quantitative data.<br/><br>
        I have written scripts where I have cleaned and preprocessed data, performed exploratory data analysis and built predictive models using Python and R.
        I have also developed applications using the MEAN stack (MongoDB, Express, Angular, Node.js), however I also develop in C, Java, Python, SQL and Objective-C.<br/><br>
        I have held positions as a supply chain analyst in the agricultural sector, where I managed the flow of commodities at an international level, often making decisions with limited time and information. <br/><br>
        What makes me unique is the combination of domain expertise in international studies, the supply chain operations experience and the in demand data science skills I possess.  This position me as an expert who can effectively contribute in data collection, analysis and research to produce actionable intelligence.
      </p>
    </div>
  </div>
  <div class="about-img-container">
    <img src="https://image.ibb.co/hmECnw/uml.png" class="about-img">
  </div>
</div>
