<div>
  <div class="about-text-container">
    <h3 class="title-page">Skils</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">
        I offer a special combination of data science, a doctoral-level expertise in the social sciences and supply chain operations experience. <br/><br>
        I have written scripts where I have cleaned and preprocessed data, performed exploratory data analysis and built predictive models using Python and R.
        I have also developed applications using the MEAN stack (MongoDB, Express, Angular, Node.js).  In additional NoSQL database experience, I have also designed and deployed SQL database solutions.  I also have experience in developing in C, Java, and Objective-C.<br/><br>
        What makes me unique is the in demand data science skills in combination with project management experience in leading organizational change.  This position me as an expert who can effectively contribute in data collection, analysis and research to produce actionable output to support effective decision-making.
      </p>
    </div>
  </div>
  <div class="about-img-container">
    <img src="https://image.ibb.co/hmECnw/uml.png" class="about-img">
  </div>
</div>
