<div>
  <div class="about-text-container">
    <h3 class="title-page">What Else?</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">
        In a previous life I was a supply chain professional who later went on to pursue a PhD, however I got turned onto coding through data analysis along the way.  I haven't looked back since.
        I also practice Muay Thai and I produce music.
      </p>
    </div>
  </div>
  <div class="about-img-container">
    <img src="../../../assets/muaythaiprofile.jpg" class="about-img bw">
  </div>
</div>

