#navigationBar {
  background-blend-mode: screen;
  background-position: center;
  background-size: 100%;
  background-color: transparent;
  margin: 50px 0;
  z-index: 999;
  border-bottom: rgba(28, 14, 75, 0.25) 1px solid;
}
.nav-btn {
  margin-right:0;
}

@media only screen and (max-width: 767px) {
  #navigationBar {
    margin:0;
  }
}

@media only screen and (max-height: 650px) {
  #navigationBar {
    margin-top: 0px;
  }
}
