
<!--<div [@contactAnimation]=state class="container-title">-->
<div [@titleAnimation]=state style="position: absolute; top: 0; text-align: center; width: 100%; margin-top: 75px;">
  <h1>contact me.</h1>
  <div style="margin-top: 50px;">
    <a href="mailto:hectorgarcia849@gmail.com"><svg-icon src="../../assets/svg/Gmail-color.svg" [tooltip]="'hectorgarcia849@gmail.com'" placement="top"></svg-icon></a>
    <svg-icon src="../../assets/svg/LinkedIn-color.svg"></svg-icon>
    <svg-icon src="../../assets/svg/Facebook-color.svg"></svg-icon>
    <svg-icon src="../../assets/svg/Twitter-color.svg"></svg-icon>
  </div>
</div>

<!--class="title-page" style="margin: -150px 0"-->
<!--style="margin: 100px 30% 0 30%"-->
