
<div class="container-title">
  <h1>contact me.</h1>
  <div style="margin-top: 50px;">
    <a href="mailto:hectorgarcia849@gmail.com"><svg-icon src="../../assets/svg/Gmail-color.svg" [tooltip]="'hectorgarcia849@gmail.com'" placement="top"></svg-icon></a>
    <a target="_blank" href="https://www.linkedin.com/in/hector-garcia-78796366"><svg-icon src="./assets/svg/LinkedIn-color.svg" [tooltip]="'www.linkedin.com/in/hector-garcia-78796366'" placement="bottom"></svg-icon></a>
    <svg-icon src="./assets/svg/Facebook-color.svg"></svg-icon>
    <svg-icon src="./assets/svg/Twitter-color.svg"></svg-icon>
  </div>
</div>

