@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #262626;

//base styles

//* {
//  box-sizing: inherit;
//  transition-property: all;
//  transition-duration: .6s;
//  transition-timing-function: ease;
//}

.buttons {
  display: table;
  height: 100%;
  width: 100%;
}

.container {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

//button styles


//default button
.hover-btn {
  color: $white;
  cursor: pointer;
  //display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 0;
  max-width: 145px;
  position: relative;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  @media(min-width: 400px) {
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }
  @media(min-width: 768px) {
    display: inline-block;
  }

  &:hover { text-decoration: none; }

}

.hover-btn-2 {
  letter-spacing: 0;
}

.hover-btn-2:hover,
.btn-2:hover {
  letter-spacing: 5px;
}

.hover-btn-2:after,
.hover-btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba($white, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.hover-btn-2:hover:after,
.hover-btn-2:hover:before {
  backface-visibility: hidden;
  border-color: $white;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.hover-btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
