<div class="article">
  <div *ngIf="isLoggedIn" class="article-button-options">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onUpdate()">Update</button>
      <button mat-menu-item (click)="onDelete()">Delete</button>
    </mat-menu>
  </div>
  <div class="article-title-header">
    <div class="article-postDate">
      Posted on: {{displayDate(article.postDate)}}
    </div>
    <div *ngIf="article.revisedDate" class="article-postDate">
      Revised on: {{displayDate(article.revisedDate)}}
    </div>
    <h1 class="article-title">{{article.title}}</h1>
  </div>
  <div class="article-content">
    <p class="article-content-p">{{article.content}}</p>
  </div>
  <div class="article-author">
    <p>-{{article.author}}</p>
  </div>
  <div class="article-chips">
    <mat-chip-list>
      <mat-chip class="article-chip" *ngFor="let tag of article.tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
