.tabs-content {
  width: 70%;
  margin: 0 15% 50px 15%;
  height: auto;
}

.tabs-articles {
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .tabs-content {
    width: 100%;
    margin: 0 0;
  }
}
