
<div class="tabs-content">
  <mat-tab-group
    [(selectedIndex)]="selectedTabIndex"
    (selectedIndexChange)="emitSelectedTopic();"
  >
    <mat-tab
      *ngFor="let topic of topics; let i=index;"
      [label]="topic.topic | titlecase"
    >
      <div class="tabs-articles" *ngFor="let article of articlesBySelectedTopic">
        <div *ngIf="isArticles() && article.topic === topic.topic">
          <app-article [article]="article"></app-article>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
