<div>
    <div class="about-img-container">
      <img src="https://image.ibb.co/dCV7LG/profilepic.jpg" class="about-img bw">
    </div>
    <div class="about-text-container">
      <h3 class="title-page">Who am I?</h3>
      <div class="about-text-container-scroll">
        <p class="about-text-p">
          I'm Hector Garcia, I live in Canada.  I'm at my best when I'm researching or investigating. I'm comfortable analyzing both qualitative and quantitative data. I excel at communicating complicated topics.  I enjoy strategizing because I believe challenges are opportunities.
          I'm driven by my intellectual curiosities, so I sincerely find joy in figuring out things I don't understand.  Overall, people might describe me as calm, open-minded, grounded, creative and logical.
        </p>
      </div>
    </div>
</div>
