<div>
    <div class="about-img-container">
      <img src="https://image.ibb.co/dCV7LG/profilepic.jpg" class="about-img bw">
    </div>
    <div class="about-text-container">
      <h3 class="title-page">Profile</h3>
      <div class="about-text-container-scroll">
        <p class="about-text-p">
          I love data and I love coding.  I love the challenge of exploring and building predictive models that produce actionable insights and developing mobile and web solutions.  I'm natural at this, I always have been and I can't help but proactively find ways to improve and build solutions. I excel at communicating complicated topics such as data flows and system processes.  I also have the project management experience of organizing work and managing timelines.
          Overall, I'm driven by my intellectual curiosities, so I sincerely find joy in figuring out things I don't understand and I'm always enrolled in at least one course, but usually it's two.  To work with, people might describe me as calm, open-minded, grounded, creative and logical.
        </p>
      </div>
    </div>
</div>
