<div>
    <div class="about-img-container">
      <img src="../../../assets/profilepic.jpg" class="about-img bw">
    </div>
    <div class="about-text-container">
      <h3 class="title-page">Who am I?</h3>
      <div class="about-text-container-scroll">
        <p class="about-text-p">I'm a freelance developer who specializes in mobile and web technologies.  I have an expertise in the MEAN stack (MongoDB, Express, Angular, Node.js), however I also develop in C, Java, Python and Objective-C.  I take part-time Computer Science courses at Ryerson University and supplement this theoretical knowledge with practical skills through Udemy, Edx, Coursera, and Udacity courses.</p>
      </div>
    </div>
</div>
