.title-welcome {
  color: #a0cceb;
}

.welcome-login-a {
  position: absolute;
  left: 92%;
  top: 5%;
}

#container-welcome {
  text-align: center;
  background-color: #262626;
  height: 425px;
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  position: absolute;
  top: 0;
  background: url(../../assets/toronto-skyline.jpg) 0 0 no-repeat fixed;
  background-size: 100% 1000px;
}

#container-titles {
  margin-top: 75px;
  background-color: rgba(100, 48, 239, 0.25);
  padding: 15px;
  width: 100%;
}

#container-name {
  margin-top: 75px;
  background-color: rgba(100, 48, 239, 0.25);
  padding: 15px;
  width: 100%;
}

#name-welcome {
  width:100%;
  font-size: 4vh;
}

#subtitle-welcome {
  width: 100%;
}

#title-welcome {
  width: 100%;
}

.form-title {
  width: 100%;
  text-align: center;
  color: rgba(100, 48, 239, 0.50);
}

.form-container {
  margin: 20px 20%;
  width: 60%;
}

.form-field {
  width: 100%;
}

.form-button {
  margin:0 35%;
  width: 30%;
}

@media only screen and (max-width: 767px) {
  #container-welcome {
    height: 375px;
    background: url(../../assets/toronto.jpg) 0 0 no-repeat;

  }
  .welcome-login-a {
    left: 85%;
  }
}

