
<div [@welcomeAnimation]="state" id="container-welcome">
  <!--<img src="../../assets/toronto-skyline.jpg" style="width:100%; height:100%; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */-->
    <!--filter: grayscale(100%);">-->
  <div id="container-titles">
    <h3 class="about-title-page title-welcome" id="title-welcome">Mobile & Web Developer</h3>
    <h6 class="about-title-page title-welcome" id="subtitle-welcome">Precise, Clean & Modular</h6>
  </div>
  <div id="container-name">
    <h3 class="about-title-page title-welcome" id="name-welcome">HectorGarcia.ca</h3>
  </div>
</div>
<router-outlet></router-outlet>
