.title-welcome {
  color: #fff;
}

.welcome-login-a {
  position: absolute;
  left: 92%;
  top: 5%;
}

#container-featured-articles {
  float: left;
  background-color: red;
  width: 94%;
  max-width: 1920px;
  min-width: 320px;
  height: 400px;
  margin: 350px 3%;
}

#container-welcome {
  text-align: center;
  height: 425px;
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0;
  /*position: absolute;*/
  /*top: 0;*/
  background: url("../../assets/welcome/art-flowers-generative-art.jpg") 0 0;
  /*background-color: #262626;*/
  background-size: cover;
  /*background-size: 200px 200px;*/
  /*background-blend-mode: overlay;*/
  float: left;
}

#container-titles {
  margin-top: 10%;
  background-color: rgba(236, 59, 239, 0.4);
  padding: 15px;
  width: 100%;
}

#container-name {
  margin-top: 1vh;
  background-color: rgba(236, 59, 239, 0.30);
  padding: 15px;
  width: 100%;
}

#name-welcome {
  width:100%;
  font-size: 4vh;
}

#subtitle-welcome {
  width: 100%;
}

#title-welcome {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #container-welcome {
    height: 375px;
  }
  .welcome-login-a {
    left: 85%;
  }

  #container-featured-articles {
    float: left;
    background-color: red;
    width: 94%;
    max-width: 767px;
    min-width: 320px;
    height: 100%;
    margin: 400px 3%;
  }
}

