<div>
  <div class="about-img-container">
    <img src="https://image.ibb.co/ePGgfG/muaythaiprofile.jpg" class="about-img bw">
  </div>
  <div class="about-text-container">
    <h3 class="title-page">Some Highlights?</h3>
    <div class="about-text-container-scroll">
      <p class="about-text-p">
        RESEARCH & INVESTIGATION <br/>
        •	Researched, wrote and presented a report on illicit supply chains and organized crime in Central America using government documents, referenced polices, news articles, academic journals, and UN spatial data to explain the social, political and economic processes that lead to the persistence of illicit economies<br/>
        •	Led an investigation to uncover the main causes of raw material inventory losses after plant relocation from Toronto to Guelph and recommended new protocols to the supply chain team which helped return Cargill back to profitability by keeping old age inventory losses below $5000 a month and eliminating unnecessary production yield losses<br/>
        <br/>
        TECHNICAL & ANALYSIS<br/>
        •	Built programs in Python to preprocess and clean data, perform statistical analysis, and train and optimize machine learning algorithms to produce predictive models with high accuracy rates; examples can be viewed on my GitHub account<br/>
        •	Configured both SQL and NoSQL databases for access and records management using MongoDB and MySQL server that connects to a full stack web application that allows users to create, read, update and delete records using a REST API<br/>
        •	Combined historical demand data, information about changing merchandising strategies and promotions, and accounted for changes in seasonal availability of agricultural products to maintain an average fill rate above 95%, while maintaining an average 4 days on hand inventory to ensure store demands were met and Loblaw’s targeted inventory turnover rates were exceeded<br/>
        <br/>
        COMMUNICATION<br/>
        •	Received excellent reviews for my ability to prepare, present and articulate complex social, economic and political issues to students in a clear and understandable manner<br/>
        •	Explained forecasts and timeline concerns with global partners in the United States, Argentina, New Zealand, Australia, Chile and South Africa leading to successful regional transitions between suppliers as harvest seasons shifted continents<br/>
        •	Articulated complex insurance policies in an understandable manner leading to my consistent placement in the top 5 sales leaders out of 100 agents<br/>
        <br/>
        STRATEGIC PLANNING & ORGANIZING<br/>
        •	Transformed underperforming annual apple bin program for western Canada taking it from a 70% fill rate to a 90% fill rate by building strong relationships with suppliers, making constant inquiries with merchandising about demand trends at store level, and creating new spreadsheets that helped track, analyze and organize information collected<br/>
        •	Planned and organized the inventory flow for multi-million-dollar nation-wide promotions at Cargill production facilities for client’s such as all Loblaw banners, Metro, FreshCo. and Sobeys with internal and external partners<br/>
        •	Organized team meetings with clear agendas and inclusive participatory techniques which created comfortable and collaborative settings for solution sharing and idea generation to engage all team members<br/>
        <br/><br/>
        ENTRPRENEURIAL & CREATIVITY<br/>
        •	Organized and launched conference on Latin American studies at York University, which is now a bi-annual event<br/>
        •	Spearheaded initiative to revamp and create new Excel spreadsheets for procurement department at Cargill that helped department exceed expectations in production yield losses, purchasing price targets and old age inventory<br/>
        •	Designed, developed and deployed a professional grade native iOS application inspired by Atari’s ‘Break Out’ called ‘aHateForWalls’ that utilizes proper software engineering principles to the Apple app store<br/>
        <br/><br/>
        I also practice Muay Thai, I produce music and I always have a new data science project I'm working on.<br/>
      </p>
    </div>
  </div>
</div>
