<form #f (ngSubmit)="onSubmitArticle(f)" class="form-container">
  <div class="form-title">
    <h3>Post an Article</h3>
  </div>
  <div>
    <mat-form-field class="form-field-topic">
      <!--<mat-select [(ngModel)]="topic" name="topic" placeholder="Select Topic" required>-->
        <!--<mat-option *ngFor="let tab of tabs" [value]="tab">{{tab}}</mat-option>-->
      <!--</mat-select>-->
      <input matInput name="topic" placeholder="Topic" type="text" [(ngModel)]="topic" required>

      <!--<input matInput type="text" name="topic" [formControl]="myControl" [matAutocomplete]="auto">-->
    </mat-form-field>

  </div>
  <div>
    <mat-form-field class="form-field-title">
      <input matInput name="title" placeholder="Title" type="text" [(ngModel)]="title" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field-chips">
      <mat-chip-list #chipList>
        <mat-chip *ngFor='let tag of tags' [removable]="true" (remove)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <input
        placeholder="Enter Tags..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
        ariaOrientation="horizontal"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field-textarea">
      <textarea matInput mat-autosize matAutosizeMinRows="20" matAutosizeMaxRows="20" placeholder="Body" name="body" type="text" [(ngModel)]="body" required></textarea>
    </mat-form-field>
  </div>
  <button style="width: 20%; margin: 0 40%;">{{ mode | titlecase}}</button>

</form>

<ng-template #modal>
  <p>{{errorMessage}}</p>
</ng-template>
